/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.avatarList[b-m9dcvoqgsy] {
  display: inline-block;
}
.avatarList ul[b-m9dcvoqgsy] {
  display: inline-block;
  margin-left: 8px;
  font-size: 0;
}
.avatarItem[b-m9dcvoqgsy] {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin-left: -8px;
  font-size: 14px;
}
.avatarItem :global .ant-avatar[b-m9dcvoqgsy] {
  border: 1px solid #d9d9d9;
}
.avatarItemLarge[b-m9dcvoqgsy] {
  width: 40px;
  height: 40px;
}
.avatarItemSmall[b-m9dcvoqgsy] {
  width: 24px;
  height: 24px;
}
.avatarItemMini[b-m9dcvoqgsy] {
  width: 20px;
  height: 20px;
}
.avatarItemMini :global .ant-avatar[b-m9dcvoqgsy] {
  width: 20px;
  height: 20px;
  line-height: 20px;
}
.avatarItemMini :global .ant-avatar .ant-avatar-string[b-m9dcvoqgsy] {
  font-size: 12px;
  line-height: 18px;
}
