/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.mapChart[b-hciwsbj3d0] {
  height: 452px;
  padding-top: 24px;
}
.mapChart img[b-hciwsbj3d0] {
  display: inline-block;
  max-width: 100%;
  max-height: 437px;
}
.pieCard :global(.pie-stat)[b-hciwsbj3d0] {
  font-size: 24px !important;
}
@media screen and (max-width: 992px) {
  .mapChart[b-hciwsbj3d0] {
    height: auto;
  }
}
