/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.field[b-qh3ytbrvm6] {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.field .label[b-qh3ytbrvm6],
.field .number[b-qh3ytbrvm6] {
  font-size: 14px;
  line-height: 22px;
}
.field .number[b-qh3ytbrvm6] {
  margin-left: 8px;
  color: rgba(0, 0, 0, 0.85);
}
