/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.card[b-71mk6kssya] {
  margin-bottom: 24px;
}
.card :global .ant-legacy-form-item .ant-legacy-form-item-control-wrapper[b-71mk6kssya] {
  width: 100%;
}
.errorIcon[b-71mk6kssya] {
  margin-right: 24px;
  color: #ff4d4f;
  cursor: pointer;
}
.errorIcon span.anticon[b-71mk6kssya] {
  margin-right: 4px;
}
.errorPopover :global .ant-popover-inner-content[b-71mk6kssya] {
  min-width: 256px;
  max-height: 290px;
  padding: 0;
  overflow: auto;
}
.errorListItem[b-71mk6kssya] {
  padding: 8px 16px;
  list-style: none;
  border-bottom: 1px solid #f0f0f0;
  cursor: pointer;
  transition: all 0.3s;
}
.errorListItem:hover[b-71mk6kssya] {
  background: #e6f7ff;
}
.errorListItem:last-child[b-71mk6kssya] {
  border: 0;
}
.errorListItem .errorIcon[b-71mk6kssya] {
  float: left;
  margin-top: 4px;
  margin-right: 12px;
  padding-bottom: 22px;
  color: #ff4d4f;
}
.errorListItem .errorField[b-71mk6kssya] {
  margin-top: 2px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
}
.editable td[b-71mk6kssya] {
  padding-top: 13px !important;
  padding-bottom: 12.5px !important;
}
