/* stylelint-disable at-rule-empty-line-before,at-rule-name-space-after,at-rule-no-unknown */
/* stylelint-disable no-duplicate-selectors */
/* stylelint-disable */
/* stylelint-disable declaration-bang-space-before,no-duplicate-selectors,string-no-newline */
.filterCardList .ant-card-meta-content[b-3i35akys73] {
  margin-top: 0;
}
.filterCardList .ant-card-meta-avatar[b-3i35akys73] {
  font-size: 0;
}
.filterCardList .ant-list .ant-list-item-content-single[b-3i35akys73] {
  max-width: 100%;
}
.filterCardList .cardInfo[b-3i35akys73] {
  margin-top: 16px;
  margin-left: 40px;
  zoom: 1;
}
.filterCardList .cardInfo[b-3i35akys73]::before,
.filterCardList .cardInfo[b-3i35akys73]::after {
  display: table;
  content: ' ';
}
.filterCardList .cardInfo[b-3i35akys73]::after {
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.filterCardList .cardInfo > div[b-3i35akys73] {
  position: relative;
  float: left;
  width: 50%;
  text-align: left;
}
.filterCardList .cardInfo > div p[b-3i35akys73] {
  margin: 0;
  font-size: 24px;
  line-height: 32px;
}
.filterCardList .cardInfo > div p:first-child[b-3i35akys73] {
  margin-bottom: 4px;
  color: rgba(0, 0, 0, 0.45);
  font-size: 12px;
  line-height: 20px;
}
